/.gradle/
/build/
**/build/
/.idea/
*.iml
local.properties
.DS_Store
/androidApp/.cxx/
/androidApp/build/
/shared/build/
/gradle-app.setting
/iosApp/build/
/iosApp/iosApp.xcworkspace/
/iosApp/iosApp.xcodeproj/project.xcworkspace/
/iosApp/iosApp.xcodeproj/xcuserdata/
/iosApp/Pods/
/iosApp/Podfile.lock
.konan/
